

header {
  font-size: 3em;
  color: darkgreen;
  font-weight: bold;
  text-align: center;
}

form {
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  background-color: #98fb98;
}


form {
  padding-left: 20px;
  padding-right: 20px;
}


input[type="number"] {
  margin: 0 auto;
  width: 350px;
  background-color: white;
  border-radius: 4px;
  margin-top: 1rem;
  color: black;
  border: 1px solid black;
}


input[type="radio"] {
  background-color: black;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}



input[type="submit"] {
  margin-top: 1rem;
  width: 100px;
  background-color: darkgreen;
  color: #fff;
  border: 1px solid darkgreen;
  border-radius: 4px;
}


label {
  font-weight: bold;
  color: black;
}


input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* .results {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
} */
